<h1>게시글 목록</h1>

<% @posts.each do |w| %>
  <div class="card">
    <div class="card-body">
      <p>작성자 : <%= w.name %><p>
      <p>제목 : <%= w.title %> / 내용 : <%= w.content %><p>
    </div>
  </div>
<% end %>

<form action="/write">
  <input type="submit" value="글쓰기">
</form>
